body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    margin: 0;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

input {
    width: 94%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 20px;
    font-size: 1rem;
}

.password-wrapper {
    position: relative;
    width: 100%;
}

.password-wrapper input {
    width: 100%;
    padding-right: 35px;
    box-sizing: border-box;
}

.password-wrapper i {
    position: absolute;
    right: 10px;
    top: 65%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #888;
}

.btn {
    width: 100%;
    padding: 10px;
    background: #28a745;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    margin: 20px 0;
}

.btn:hover {
    background: #218838;
}

a {
    text-decoration: none;
    color: #007bff;
    font-size: 0.9rem;
}

a:hover {
    text-decoration: underline;
}